/*---------------------------------------/*
 # SETTINGS
/*---------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
 :root{


} 
 
/*---------------------------------------/*
 # ELEMENTS
 /*---------------------------------------*/

/*---------------------------------------/*
 # OBJECTS
/*---------------------------------------*/

/*---------------------------------------/*
 # COMPONENTS
/*---------------------------------------*/
.c-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
}
.c-header {
  height: 100vh;
  grid-column: 1;
  background-color: #E5E3EB;
  color: #fff;

}
.c-nav {
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
  background-color: #E5E3EB;
  color: #fff;
}
.c-nav__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.c-nav__item {
  list-style: none;
  display: inline-block;
  margin-right: 1rem;
  padding: 0 2rem;
  border-left: #faebd700 4px solid;
  border-start-start-radius: 4px;
  border-start-end-radius: 4px;
}
.c-nav__icon {
  fill: currentColor;
}
.c-nav__link:hover,
.c-nav__icon {
  fill: #f00;
}
.c-nav__link--active {
 
border-color: #ff0d0d;
}
.c-main__content {
  padding: 1.5rem 0;
  grid-column: 2 /10;
  grid-template-columns:subgrid;
  grid-template-rows:4 ;
  gap: 32px;
  display: grid;
  & > *:not(:first-child) {
    background-color: #E5E3EB;
    padding: 1.5rem;
    border-radius: 15px;
  }
}
.c-aside {
  padding: 1.5rem  ;
  grid-column: 10 /13;
  background-color: #E5E3EB;
  display: flex; justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}
.c-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-info__plan{
  color: blueviolet;
}
.c-profile
{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  
}

.c-profile__pic{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;
}
.c-profile__inhoud{
height: 100%;
}
.c-profile__planupgrade{
  background: purple;
  color: #fff;
  padding: 1rem 2.625rem;
  border-radius: 50px;
  text-decoration: none;
}
.c-money{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.c-money__item{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.c-money__line{
  height:  100%;
  width:  1px;
  background-color: #fff;
}
.c-message{

}
.c-message__block{
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap: 1rem;
  margin: 1.5rem 0;
}
.c-message__img{
  width: 50px;
  height: 50px;
  size: cover;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow: hidden;


}
.c-message__content{display: flex; gap: 1rem;}
.c-message__imgin{
  height: 100%;
}
.c-message__inhoud{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.c-title{
grid-row: 1;
height: 100%;
}
.c-title h1{
  font-size: 4rem;
  color: #333333;
}
.c-customer{
  grid-column: 1/3;
  grid-row: 2;
}
.c-websidev{
  grid-column: 3/5; 
  grid-row: 2;

}
.c-orders{
  grid-column: 1/3; 
  grid-row: 3;

}
.c-growht{
  grid-column: 3/5; 
  grid-row: 3;
}
.c-devices{
  grid-column: 5/9 ;
  height: 100%;
  grid-row: 2/4;
}
.c-goals{
  grid-column: 1/5 ;
  grid-row: 4;
}
.c-revenui{
  grid-column:1/5 ;
  grid-row: 5;
}
.c-map{
  grid-column: 5/9 ;
  grid-row: 4/6;
}
.c-devices__piechart{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: conic-gradient(
      pink 70deg,
      lightblue 0 235deg,
      orange 0
  );
}
.c-message__inhoud{
  font-size: 1rem;

}
.c-message__name{
color: plum;
}
.c-message__txt{
font-size: 14px;
color: #33333380;
}
.c-message__time{
font-size: 14px;
color: #33333380;

}
.c-msmmain{
  display: flex;
  justify-content: space-between;
}
/*---------------------------------------/*
 # UTILITIES
/*---------------------------------------*/
